* {
    font-family: 'Roboto', sans-serif;
}
header {
    position: relative;
} 
nav {
height: 50px;
background-color: #212121;
position: fixed;
width: 100%;
z-index: 2;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 11px;
}

.subheader {
    position:absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, .6);
    top: 50px;
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}
.subheader .subheader_official {
    display: block;
    margin-top: 6px;
    font-weight: 200;
    font-size: 13px;
    color: #FFFFFF;
}

.subheader .subheader_call {
    margin-top: 16px;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
}

.subheader .subheader_phone {
    font-size: 22px;   
    color: #FFFFFF;
}
.subheader .btn {
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.subheader .button {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    font-size: 14px;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    border-radius: 6px;
}

.promo {
    min-height: 800px;
    background: url(../img/main_bg.jpg) center center/cover no-repeat;
    padding-top: 140px;
}

.promo .container {
    text-align: center;
}
.promo .promo_header {
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 40px;
}

.promo .promo_subheader {
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo .description_text {
    font-weight: normal;
    line-height: 24px;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 115px;
}

.promo .button {
    display: block;
    margin: 0 auto;
    margin-top: 19px;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    font-size: 14px;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    border-radius: 6px;
}

.scroll {
    min-height: 850px;
}

.scroll .container {
    margin-top: 18px;
    text-align: center;
}

.scroll .scroll_text {
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.scroll .scroll_work {
    margin-top: 33px;
    font-weight: bold;
    font-size: 38px;
    text-transform: uppercase;
    color: #222222;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 116px;
    height: 116px;
    background: #1EACC7;
    border-radius:100%; 
}


.text_descr {
    text-align: left;
}
.text_style {
    font-size: 17px;
    color: #1EACC7;
}
.blok1 {
    margin-top: 25px;
}

.blok2 {
    margin-top: 25px;
}

.blok3 {
    margin-top: 25px;
}

.blok4 {
    margin-top: 25px; 
}

.text_style_descr {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #202020;
}